@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Suraj's Project</h1>
    <p>Learn about Azure here <a href="https://aka.ms/az900/sandbox">Azure Sandbox</a>.</p>
</div>
